body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131238;
}

.imagem{
    background-image: url(Obmep.png);
    background-attachment: scroll;
    height: 270px;
    background-size: cover;
    background-position: center;
}

.titulo {
 
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.subtitulo{
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.nav {
    background-color: #6c7fe09b;
    padding: 10px;
    text-align: right;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #ccc;
}
.site{
    text-align: center;
}
.site p{
    color: beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.sobre {
    padding: 20px;
    text-align: center;
}

.sobre h2{
    color: beige;
    font-family: "Lugrasimmo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.sobre p{
    color: beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 { 
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.container {
    text-align: center;
    padding: 20px;
}
.container p{
    color: beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.container h6{
    color:beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    color: beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.container li{
    display: list-item;
    margin: 0;
    color: beige;
}

.nav ul {
    flex-direction: row;
}

.nav li {
    margin: right 0; }

    .contatos{
        background-color: black;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%;
    }
    .contatos h6{
        color: aliceblue;
        text-align: center;
    }

.contatos p{
    text-align: center;
    align-items: center;
    justify-content: center;
    color: beige;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}
.contatos a{
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
